body {
  align-items: center;
  background-color: #20122e;
  color: white;
  display: flex;
  font-family: 'Work Sans', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

.font-h1 {
    font-size: 48px;
    -webkit-font-smoothing: antialiased;
    font-weight: 800;
    line-height: 54px;
    word-wrap: break-word;
}

@media only screen and (min-width: 841px) {
    .font-h1 {
        font-size:72px;
        line-height: 72px;
    }
}

.is-hidden {
  display: none !important;
}

.countdown {
  margin: 0 auto;
  padding: 0 5%;
  text-align: center;
}

.countdown__title {
  margin: 0;
}

.countdown__time {
  display: flex;
  font-size: 80px;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  justify-content: center;
}

.countdown__time > span {
  display: block;
  width: 1ch;
}

.countdown__time > span:nth-child(3n) {
  width: auto;
}


@media only screen and (min-width: 841px) {
  .countdown__time {
    font-size: 180px;
  }
}

.time-form {
  position: absolute;
  top: 0;
  right: 0;
}

.time-form__toggle-button {
  background-color: transparent;
  border: 0 none;
  color: inherit;
  cursor: pointer;
  height: 80px;
  margin: 0;
  opacity: 0;
  padding: 10px;
  transition: opacity .1s;
  width: 80px;
}

.time-form__toggle-button:hover,
.time-form__toggle-button:focus {
  opacity: .7;
}

.time-form__settings-icon {
  display: block;
  fill: currentColor;
  height: 60px;
  width: 60px;
}

.time-form__expandable {
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 10px 0 0 10px;
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  background-color: #20122e;
  padding: 1em;
}

.time-form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.time-form__label {
  display: block;
  margin-bottom: .25em;
}

.time-form__input {
  background: none;
  border: 0;
  border-bottom: 1px solid;
  box-sizing: content-box;
  caret-color: #00bed0;
  color: #837b8b;
  color: currentColor;
  display: inline-block;
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  height: 1.1875em;
  line-height: 28px;
  margin: 0 0 1.25em;
  padding: 6px 0 7px;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
}

.time-form__update-button {
  align-items: center;
  background-color: #00bed0;
  border-radius: 40px;
  border: 0 none;
  color: #41354d;
  font-size: 13px;
  font-weight: 700;
  height: 60px;
  margin-right: 0px;
  padding: 0 45px;
  text-align: center;
  text-transform: lowercase;
}
